{{ define "main" }}

{{ partial "article.html" . }}

{{ $paginator := .Paginator }}
<ul class="list-none flex flex-col justify-items-center pl-0">
  {{ range $paginator.Pages }}
  <li class="flex flex-col bg-neutral-50 dark:bg-neutral-900 p-2">
    <h4 class="not-prose m-1" >
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    <div class="flex gap-x-4">
      <div>{{ .Date | time.Format ":date_short"}}</div>
      <div>{{ math.Max (div .WordCount 200) 1 }} minutes</div>
    </div>
      {{ .Summary }}
  </li>
  {{ end }}
</ul>

{{- partial "pagination.html" . -}}

{{ end }}
