<nav class="sticky top-0 flex justify-between z-10 p-2 md:p-4 text-neutral-950 dark:text-neutral-50 w-full mb-5 backdrop-blur sm:backdrop-blur-lg shadow shadow-neutral-300 dark:shadow-neutral-800" >
  <ul class="flex justify-center items-center">
    {{ $items := slice }}
    {{ $items = $items | append (slice (slice "/" "root" )) }}
    {{ $items = $items | append (slice "/tags" "tags" ) }}
    {{ range $items }}
      {{ partial "header/menu-item.html" . }}
    {{ end}}
  </ul>
  <button class="theme-switcher">
    <span class="dark:hidden">
      {{ partial "svg/sun.html" . }}
    </span>
    <span class="hidden dark:flex">
      {{ partial "svg/moon.html" . }}
    </span>
  </button>
</nav>
