<nav class="sticky top-0 flex justify-between z-10 p-2 md:p-4 text-neutral-950 dark:text-neutral-50 border-b border-neutral-100 dark:border-neutral-800 w-full mb-5 backdrop-blur sm:backdrop-blur-lg" >
  <ul class="flex justify-center items-center">
    <li class="mx-2 md:mx-4 hover:scale-110 font-sans text-xl font-bold transition-transform">
      <a href="/">root</a>
    </li>
  </ul>
  <button class="theme-switcher">
    <span class="dark:hidden">
      {{ partial "svg/sun.html" . }}
    </span>
    <span class="hidden dark:flex">
      {{ partial "svg/moon.html" . }}
    </span>
  </button>
</nav>
