{{ $lastPagesNumber := .Site.Params.pagination.lastPagesNumber | default 1 }}
{{ $pageGroupRadius := .Site.Params.pagination.pageGroupRadius | default 1 }}
{{ $pagesInGroupNumber := add (mul $pageGroupRadius 2) 1 }}
{{ $pagesDelimiter := .Site.Params.pagination.pagesDelimiter | default "..." }}

{{ $paginator := .Paginator }}
{{ $pagersGroups := newScratch }}

{{ if (gt (sub $paginator.PageNumber $pageGroupRadius 2) $lastPagesNumber) }}
  {{ $pagersGroups.Set "a" (first $lastPagesNumber $paginator.Pagers) }}
{{ else }}
  {{ $pagersGroups.Set "b" (first (add $paginator.PageNumber $pageGroupRadius) $paginator.Pagers) }}
{{ end }}

{{ if (lt (add $paginator.PageNumber $pageGroupRadius 1) (sub $paginator.TotalPages $lastPagesNumber)) }}
  {{ $pagersGroups.Set "c" (last $lastPagesNumber $paginator.Pagers) }}
{{ else if (not (isset $pagersGroups.Values "b")) }}
  {{ $pagersGroups.Set "b" (last (add (sub $paginator.TotalPages $paginator.PageNumber) $pageGroupRadius 1) $paginator.Pagers) }}
{{ end }}

{{ if (not (isset $pagersGroups.Values "b")) }}
  {{ $pagersGroups.Set "b" (first $pagesInGroupNumber (after (math.Max (sub $paginator.PageNumber $pageGroupRadius 1) 0)  $paginator.Pagers)) }}
{{ end}}

<div class="flex items-center not-prose mt-2 mb-4 p-2 bg-neutral-50 dark:bg-neutral-900">
  {{ $arrow := newScratch }}
  {{ $arrow.Set "svg" "svg/prev.html" }}
  {{ if $paginator.HasPrev }}
    {{ $arrow.Set "url" $paginator.Prev.URL }}
  {{ end }}
  {{ partial "pagination/arrow.html" $arrow }}

  <ul class="mx-auto text-center">
  {{ range $pagers := $pagersGroups.Values }}
    {{ range $pager := $pagers }}
      {{ $class := "inline-block py-0.5 min-w-[2rem] hover:text-primary-300 dark:hover:text-primary-400"}}
      {{ if (eq $paginator.PageNumber $pager.PageNumber) }}
        {{ $class = (print $class " " "ring-2 rounded ring-primary-300 text-primary-300  dark:ring-primary-400 dark:text-primary-400") }}
      {{ end }}

      <li class="{{- $class -}}">
          {{ partial "pagination/pager.html" $pager }}
      </li>

    {{ end }}
      {{ if (index (last 1 $pagers) 0).HasNext }}
        <li class="inline-block">{{ $pagesDelimiter }}</li>
      {{ end }}
  {{ end }}
  </ul>

  {{ $arrow := newScratch }}
  {{ $arrow.Set "svg" "svg/next.html" }}
  {{ if $paginator.HasNext }}
    {{ $arrow.Set "url" $paginator.Next.URL }}
  {{ end }}
  {{ partial "pagination/arrow.html" $arrow }}</div>
